@import "mixins";
@import "variables";
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

html, body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
	margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background: #f5f5f5;
}

* {
	box-sizing: border-box;
	word-wrap: break-word;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    font-family: 'Lato', sans-serif;
    color: #384e64;

	&::-webkit-scrollbar-track { 
        background: transparent;
    }

    &::-webkit-scrollbar {  
        width: 3px;
        height: 3px;
        background-color: #979CAC;
        background: transparent;
    }

    &::-webkit-scrollbar-thumb { 
        border-radius: 10px;
        background-color: #979CAC;
    }
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

input {
    border-radius: 2px;
    outline: none;
}

button {
    cursor: pointer;
    outline: none;
    opacity: 0.9;
    transition: 0.3s;
    
    &:focus {
        outline: none !important;
    }

    &:disabled {
        opacity: 0.7;
        pointer-events: none;
    }

    &:hover {
        opacity: 1;
    }

    &._primary {
        border-radius: 5px;
        border: none;
        background: transparent;
        padding: 15px 20px;
        color: #fff;
        font-size: 14px;
        background: $red;
        min-width: 100px;
    }

    &._cancel {
        border-radius: 5px;
        border: 1px solid $red;
        background: transparent;
        padding: 15px 20px;
        color: $red;
        font-size: 14px;
        background: #fff;
        min-width: 100px;

        &:hover {
            background: lighten($red, 37%);
        }
    }
}

a {
    text-decoration: none;
    color: $font-color;
}

._transition-anim-enter-active, ._transition-anim-leave-active {
    transition: 0.5s ease;
    pointer-events: none;
	position: absolute;
	top: 0;
    left: 0;
}

._transition-anim-enter, ._transition-anim-leave-to{
	opacity: 0;
}

._profile-transition-anim-enter-active, ._profile-transition-anim-leave-active {
    transition: 0.5s ease;
    pointer-events: none;
	position: absolute;
	top: 0;
    left: 0;
    overflow: hidden;
}

._profile-transition-anim-enter, ._profile-transition-anim-leave-to{
	opacity: 0;
}

._transition-fixed-enter-active, ._transition-fixed-leave-active {
    transition: 0.5s ease;
    pointer-events: none;
	position: fixed;
	top: 0;
    left: 0;
}

._transition-fixed-enter, ._transition-fixed-leave-to{
	opacity: 0;
}

._transition-nopos-enter-active, ._transition-nopos-leave-active {
    transition: 0.5s ease;
    pointer-events: none;
	position: absolute;
}

._transition-nopos-enter, ._transition-nopos-leave-to{
	opacity: 0;
}